table.namarupa {
border-collapse: collapse;
border: 1px solid #000;
margin: 10px auto 15px auto;
border-right: 2px solid #000;
border-bottom: 2px solid #000;
}

table.namarupa td.hd {
padding: 4px;
font-size: 12px;
font-weight: bold;
text-align: center;
vertical-align: middle;
border: 1px solid #000;
}

table.namarupa td {
padding: 6px;
width: 116px;
font-size: 12px;
text-align: center;
line-height: 16px;
vertical-align: middle;
border: 1px solid #000;
}

#pagetitle { text-align: center; }

td a {
font-weight: bold;
color: #993D18;
text-decoration: none; 
}
